<%- include('partials/nav-header') %>
<div class="container-fluid header_main">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="logo" href="/"><img src="images/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <% if (isAuthenticated) { %>
          <li class="nav-item">
            <a class="nav-link" id="login-signup" href="/logout">Logout</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" id="login-signup" href="/login">Login</a>
          </li>
        <% } %>
        <li class="nav-item">
          <a class="nav-link" href="/submitarticle">Articles</a>
        </li>
        <% if (isAuthenticated) { %>
          <li class="nav-item">
            <a class="nav-link" href="/account">Account</a>
          </li>
        <% }%>

      </ul>
    </div>
  </nav>
</div>
<%- include('partials/footer') %>
